.navbar-logo-left {
  width: 100%;
  max-width: 1440px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbarcontainer {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo {
  width: 141px;
  height: 36px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.navbar-button {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f8c94f;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  display: flex;
}

.text-2 {
  color: #fff;
  letter-spacing: .1em;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
}

.hero-heading-left {
  width: 100%;
  height: 937px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-copy-goes-here-be-awesome {
  color: #000;
  letter-spacing: .02em;
  font-size: 60px;
  font-weight: 700;
  line-height: 140%;
}

.error-3b0dc9a2-8ec4-f399-3db9-3929abe73924 {
  color: #888;
  letter-spacing: .02em;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.frame-1000005505 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.app-store {
  object-fit: cover;
}

.column-2 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-rectangles {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 24px;
  display: flex;
}

.container-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.columns {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-2 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-2 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.name {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.description {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.navbar-logo-left-2 {
  width: 100%;
  max-width: 1440px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbarcontainer-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content-2 {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-2 {
  width: 141px;
  height: 36px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu-2 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-link-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.navbar-button-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f6b71c;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  display: flex;
}

.text-3 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.navbarcontainer-3 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content-3 {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-3 {
  width: 141px;
  height: 36px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu-3 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-4 {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.text-5 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.hero-heading-left-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.container-3 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content {
  width: 100%;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-copy-goes-here-be-awesome-2 {
  color: #000;
  letter-spacing: .02em;
  font-size: 55px;
  font-weight: 700;
  line-height: 140%;
}

.error-fc5af899-e79e-e03f-1bfb-7fed5f42df7b {
  color: #888;
  letter-spacing: .02em;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.frame-1000005506 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.app-store-2 {
  object-fit: cover;
}

.column-4 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-3 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-3 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-4 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-copy-goes-here-be-awesome-3 {
  color: #000;
  letter-spacing: .02em;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

.column-5 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-4 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-5 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-6 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-copy-goes-here-be-awesome-4 {
  color: #000;
  letter-spacing: .02em;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

.vectors-wrapper {
  height: 52px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-6 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-7 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-copy-goes-here-be-awesome-5 {
  color: #000;
  letter-spacing: .02em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

.vectors-wrapper-2 {
  height: 38.8375px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-7 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-8 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-2 {
  color: #888;
  letter-spacing: .02em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}

.vectors-wrapper-3 {
  height: 38.8375px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-9 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-8 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-4 {
  width: 189px;
  height: 30.7125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-10 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-9 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-5 {
  width: 189px;
  height: 30.7125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-11 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-10 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper-6 {
  width: 189px;
  height: 30.7125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-12 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-7 {
  width: 189px;
  height: 30.7125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-13 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-8 {
  width: 189px;
  height: 30.7125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-14 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-9 {
  width: 189px;
  height: 30.7125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-15 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.team-rectangles-2 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-11 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-title {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-6 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.text-7 {
  color: #888;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.columns-2 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-5 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-4 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.team-rectangles-3 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-12 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-8 {
  color: #888;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.columns-3 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-3 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-6 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-5 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-3 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.team-rectangles-4 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-13 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-9 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.columns-4 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-4 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-7 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-6 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-4 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.team-rectangles-5 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-14 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-10 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.text-11 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-5 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-7 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.name-2 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.description-2 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.team-rectangles-6 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-15 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-title-2 {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-12 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-6 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-5 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-8 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-8 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-5 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.description-3 {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.team-rectangles-7 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-16 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-title-3 {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-13 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-7 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-6 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-9 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-9 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.info-6 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.team-rectangles-8 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-17 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-title-4 {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-14 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.image-wrapper-10 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-10 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-rectangles-9 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-18 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-15 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.text-16 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.image-wrapper-11 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-11 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-7 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.name-3 {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.description-4 {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.info-8 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.team-rectangles-10 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-19 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-17 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.text-18 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.image-wrapper-12 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-12 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-9 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-color: #fff;
  background-clip: border-box;
  flex-direction: column;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -22px;
  padding: 24px;
  display: flex;
}

.team-circles {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: border-box;
  flex-direction: row;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
  position: static;
}

.container-20 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-19 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-8 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.card-7 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-wrapper-13 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-13 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-2 {
  width: 100%;
  grid-column-gap: 11.0428px;
  grid-row-gap: 11.0428px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.info-10 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-20 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-10 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-5 {
  color: #888;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
}

.container-21 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-21 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-9 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.card-8 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-wrapper-14 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-14 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-11 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-22 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-11 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-6 {
  color: #888;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
}

.container-22 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-23 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-10 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.card-9 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-wrapper-15 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-15 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-clip: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-12 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-24 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-12 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-7 {
  color: #888;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
}

.team-circles-2 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  mix-blend-mode: normal;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
}

.container-23 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-25 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-11 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.card-10 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-wrapper-16 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-16 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-13 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-26 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-13 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-circles-3 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
}

.container-24 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-27 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-12 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.card-11 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-wrapper-17 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-17 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-14 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-28 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-14 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-8 {
  color: #888;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.team-circles-4 {
  width: 105%;
  height: auto;
  max-height: 983px;
  min-height: 0;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
}

.container-25 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-29 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-13 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.card-12 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-18 {
  width: 186.348px;
  height: 186.348px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-15 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-30 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-15 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-9 {
  color: #888;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.team-circles-5 {
  width: 955px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 56px 24px;
  display: flex;
}

.container-26 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-31 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-14 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.card-13 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-19 {
  width: 123px;
  height: 123px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-16 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-32 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-16 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-10 {
  color: #888;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.team-circles-6 {
  width: 105.5%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -30px;
  padding: 64px 24px;
  display: flex;
}

.container-27 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-33 {
  color: #888;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-15 {
  width: 100%;
  height: auto;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.card-14 {
  width: 100%;
  max-width: 253.985px;
  grid-column-gap: 16.5642px;
  grid-row-gap: 16.5642px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-20 {
  width: 123px;
  height: 123px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-17 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-34 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.vectors-wrapper-17 {
  width: 125px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-11 {
  color: #888;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.hero-stack {
  width: 105%;
  max-width: 1440px;
  min-height: 446px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -webkit-text-fill-color: inherit;
  background-color: #fafbff;
  background-image: linear-gradient(#f6b91c, #f6b91c);
  background-position: 0 0;
  background-size: auto;
  background-clip: border-box;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -64px;
  padding: 64px 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  display: flex;
}

.small-container {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section-2 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-35 {
  color: #fff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.error-83088bf4-ab94-adc0-a702-10b745ba96b1 {
  color: #fff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button {
  width: 185px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #333;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-36 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
}

.hero-stack-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -50px;
  padding: 48px 24px 22px;
  display: flex;
}

.title-section-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-37 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.cloud-supply-merupakan-perusahaan-penyedia-kebutuhan-barang-pada-sektor-food-beverage-serta-peralatan---perlengkapan-di-bidang-informasi-teknologi-otomotif-maupun-stationary-dengan-system-transaksi-online-dalam-menyambut-dunia-digital-5-0-cloud-supply-mengambil-peran-serta-dalam-mensupport-kebutuhan-masyarakat-akan-barang-secara-efektif-dan-efisien-2 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-2 {
  width: 185px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f6b91c;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-38 {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
}

.hero-stack-3 {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -48px;
  padding: 32px 24px 22px;
  display: flex;
}

.vectors-wrapper-18 {
  width: 78.5px;
  height: 47.2524px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-section-4 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-39 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.cloud-supply-merupakan-perusahaan-penyedia-kebutuhan-barang-pada-sektor-food-beverage-serta-peralatan---perlengkapan-di-bidang-informasi-teknologi-otomotif-maupun-stationary-dengan-system-transaksi-online-dalam-menyambut-dunia-digital-5-0-cloud-supply-mengambil-peran-serta-dalam-mensupport-kebutuhan-masyarakat-akan-barang-secara-efektif-dan-efisien-3 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.button-3 {
  width: 185px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f6b91c;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-40 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
}

.hero-stack-4 {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -48px;
  padding: 32px 24px 22px;
  display: flex;
}

.vectors-wrapper-19 {
  width: 78.5px;
  height: 47.2524px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-section-5 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-41 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.text-42 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-43 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
}

.hero-stack-5 {
  width: 105.5%;
  max-width: 1440px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  object-fit: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -65px;
  padding: 0;
  display: flex;
}

.team-circles-7 {
  width: 105.5%;
  height: 230px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -32px;
  padding: 64px 24px;
  display: flex;
}

.container-28 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section-6 {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-44 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.text-45 {
  color: #888;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.pricing-comparison {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  margin-top: -109px;
  padding: 64px 24px;
  display: flex;
}

.columns-16 {
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.column-16 {
  width: 100%;
  max-width: 260px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  box-shadow: 0 4px 130px rgba(150, 163, 181, .12);
}

.intro {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.image-wrapper-18 {
  width: 80px;
  height: 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pricing-1 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.name-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-46 {
  color: #212121;
  font-size: 32px;
  font-weight: 600;
  line-height: 180%;
}

.text-47 {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.pricing {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

._599-mo {
  color: #333;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.button-4 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  border: 1px solid #f6b91c;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  display: flex;
}

.text-48 {
  color: #f6b91c;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.separator {
  width: 100%;
  height: 1px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
}

.features {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.pricing-feature {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-wrapper {
  width: 24px;
  height: 24px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.feature-item {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.column-17 {
  width: 100%;
  max-width: 260px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  box-shadow: 0 4px 130px rgba(150, 163, 181, .3);
}

.button-5 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f6b91c;
  border: 1px solid #212121;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  display: flex;
}

.text-49 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.features-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.pricing-feature-2 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.icon-wrapper-2 {
  width: 24px;
  height: 24px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pricing-comparison-2 {
  width: 105.5%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  margin-top: -119px;
  padding: 64px 24px;
  display: flex;
}

.columns-17 {
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.column-18 {
  width: 100%;
  max-width: 260px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  box-shadow: 0 4px 130px rgba(150, 163, 181, .12);
}

.image-wrapper-19 {
  width: 80px;
  height: 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.name-5 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-50 {
  color: #212121;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 180%;
}

.text-51 {
  color: #333;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.button-6 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  border: 1px solid #f6b91c;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  display: flex;
}

.text-52 {
  color: #f6b91c;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.column-19 {
  width: 100%;
  max-width: 260px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  box-shadow: 0 4px 130px rgba(150, 163, 181, .3);
}

.button-7 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f6b91c;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  display: flex;
}

.text-53 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.features-3 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.pricing-feature-3 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.icon-wrapper-3 {
  width: 24px;
  height: 24px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-rectangles-11 {
  width: 105.5%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -64px;
  padding: 64px 32px;
  display: flex;
}

.container-29 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-54 {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.text-55 {
  color: #888;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.image-wrapper-20 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-21 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-18 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.name-6 {
  color: #000;
  letter-spacing: .02em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}

.description-12 {
  color: #888;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.logo-title {
  width: 106.5%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -32px;
  padding: 64px 24px;
  display: flex;
}

.title {
  color: #000;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.content-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logos {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-4 {
  height: 62px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: contain;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer {
  width: 105.5%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -128px;
  padding: 64px 24px 8px;
  display: flex;
}

.columns-18 {
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.column-20 {
  width: 141px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-wrapper-2 {
  height: 124px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.logo-5 {
  width: 141px;
  height: 108px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.small-columns {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.column-21 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-4 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-56 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.footer-links {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.content-5 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-57 {
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.link-2 {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.copyright {
  width: 100%;
  max-width: 1390px;
  grid-column-gap: 878px;
  grid-row-gap: 878px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  box-shadow: 0 -1px #e4ebf3;
}

.text-58 {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer-2 {
  width: 105.5%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #f5f7fa;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -138px;
  padding: 64px 24px 8px;
  display: flex;
}

.columns-19 {
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.column-22 {
  width: 141px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-wrapper-3 {
  height: 124px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.logo-6 {
  width: 141px;
  height: 108px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.small-columns-2 {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.column-23 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-6 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-59 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.footer-links-2, .footer-links-3 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-60 {
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.footer-links-4 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.link-3 {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.copyright-2 {
  width: 100%;
  max-width: 1390px;
  grid-column-gap: 878px;
  grid-row-gap: 878px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  box-shadow: 0 -1px #e4ebf3;
}

.hero-heading-left-3 {
  width: 105.5%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  margin-top: -64px;
  padding: 64px 24px;
  display: flex;
}

.container-30 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-24 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
  display: flex;
}

.title-copy-goes-here-be-awesome-6 {
  color: #000;
  letter-spacing: .02em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

.error-7cefaf4f-1dfc-dc6a-d362-a7a191c310d0 {
  color: #888;
  letter-spacing: .02em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}

.vectors-wrapper-20 {
  height: 32.6099px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-25 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-21 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-22 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-rectangles-12 {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #fafbff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.container-31 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-title-5 {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-61 {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.text-62 {
  color: #888;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.columns-20 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-15 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-22 {
  width: 100%;
  height: 180px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-23 {
  width: 100%;
  height: 180px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-text-fill-color: inherit;
  object-fit: none;
  background-clip: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-19 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.name-7 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.description-13 {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (max-width: 991px) {
  .navbar-logo-left {
    padding-right: 0;
  }

  .navbar-menu {
    max-width: unset;
  }

  .navbar-link, .navbar-button {
    justify-content: center;
  }

  .f2wf-columns {
    flex-direction: column;
    align-items: center;
  }

  .navbar-logo-left-2 {
    padding-right: 0;
  }

  .navbar-menu-2 {
    max-width: unset;
  }

  .navbar-link-2, .navbar-button-2 {
    justify-content: center;
  }

  .navbar-menu-3 {
    max-width: unset;
  }

  .f2wf-columns-2, .f2wf-columns-3, .f2wf-columns-4 {
    flex-direction: column;
    align-items: center;
  }

  .description-4 {
    object-fit: contain;
  }

  .image-12 {
    object-fit: fill;
  }

  .info-9 {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

  .column-20, .content-4, .footer-links, .content-5 {
    align-items: center;
  }

  .f2wf-columns-5 {
    flex-direction: column;
    align-items: center;
  }

  .column-22, .content-6, .footer-links-2, .footer-links-3, .footer-links-4 {
    align-items: center;
  }

  .f2wf-columns-6 {
    flex-direction: column;
    align-items: center;
  }

  .title-copy-goes-here-be-awesome-6, .error-7cefaf4f-1dfc-dc6a-d362-a7a191c310d0 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  }

  .image-22 {
    object-fit: contain;
  }

  .f2wf-columns-7 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .f2wf-small-columns, .f2wf-small-columns-2 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .text-18 {
    color: #888;
  }

  .image-12 {
    object-fit: contain;
  }

  .team-circles-3 {
    object-fit: fill;
  }

  .text-42 {
    font-size: 14px;
  }

  .column-18 {
    background-color: #fff;
  }
}
